[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule "bundle/gyp"]
	path = bundle/gyp
	url = git@github.com:kelan/gyp.vim.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
